APP_NAME=Schola
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=schola
DB_USERNAME=schola
DB_PASSWORD=schola

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379

FILESYSTEM_DISK=local
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

SQS_PREFIX=https://sqs.us-east-1.amazonaws.com/000000000000
SQS_QUEUE=schola-jobs
